[submodule "boost.m4"]
	path = boost.m4
	url = git@github.com:public/boost.m4.git
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "pure"]
	path = pure
	url = https://github.com/pure/pure.git
[submodule "OpenPGP-SDK"]
	path = OpenPGP-SDK
	url = git@github.com:public/OpenPGP-SDK.git
